blessings==1.6
bpython==0.16
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
curtsies==0.2.11
cx-Freeze==5.0.2
decorator==4.1.2
Faker==0.8.6
greenlet==0.4.12
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
parso==0.1.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
Pygments==2.2.0
pymongo==3.5.1
python-dateutil==2.6.1
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
text-unidecode==1.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
